.apps-page {
  .sec-header {
    padding: 40px 0 80px;
    @media screen and (max-width: $break-sm) {
      padding: 40px 0;
    }
    .navigate {   
      margin-bottom: 20px;
      a {
        color: white;
      }
      .icon-svg {
        fill: white !important;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .sec-title {
      font-size: 36px;
      @media screen and (max-width: $break-sm) {
        font-size: 28px !important;
      }
      &:after {
        content: none;
      }
    }
  }

  .nav-tabs {
    border-bottom: 2px solid #f2f2f2;

    .tabs {
      display: flex;
      justify-content: center;
      @media screen and (max-width: $break-sm) {
        justify-content: space-evenly;
        padding: 0 40px;
      }
      @media screen and (max-width: $break-xs) {
        justify-content: space-between;
        padding: 0 40px;
      }
      .tab {
        font-weight: 600;
        color: #6d6d6d;
        padding: 20px 10px;
        letter-spacing: 2px;
        margin: 0 40px;
        border-bottom: 4px solid transparent;
        @media screen and (max-width: $break-sm) {
          padding: 20px 0;
          font-size: 14px;
          margin: 0;
        }
        &.active {
          border-color: $color-two;
        }
      }
    }
  }

  .sec-projects {
    padding: 50px 0 50px 50px;
    @media screen and (max-width: $break-sm) {
      padding: 80px 20px;
    }
    .project {
      background-color: #FBFBFB;
      padding: 20px;
      margin-bottom: 20px;

      .image {
        width: 100%;
        max-width: 400px;
      }

      .block-info {
        padding: 20px;

        .title {
          font-weight: 700;
          color: $color-green;
          font-size: 24px;
          letter-spacing: 2px;
        }

        .subtitle {
          color: $color-text;
          font-weight: 600;
          letter-spacing: 2px;

          span {
            color: $color-two
          }
        }

        .sec-text {
          color: $color-text;

          @media screen and (max-width: $break-sm) {
            display: none !important;
          }
        }

        .link {
          font-weight: 600;
          letter-spacing: 2px;
          color: #3D3D3D;
          position: relative;
          z-index: 2;
          padding: 0 5px;

          &:before {
            content: "";
            position: absolute;
            height: 6px;
            width: 100%;
            background-color: $color-two;
            left: 0;
            top: 35%;
            vertical-align: middle;
            z-index: -1;
          }
        }
      }
    }
  }

  &.apps {
    .sec-header {
      background-color: $color-two;

      .icon-svg {
        fill: $color-green;
      }
    }
  }

  &.websites {
    .sec-header {
      background-color: $color-green;

      .icon-svg {
        fill: $color-two;
      }
    }

    .sec-projects {
      .project {
        .image {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}

.order-sm {
  @media screen and (max-width: 767px) {
    order: 1;
  }
}