.img-responsive {
  width: 100%;
}

.project-page {
  .sec-header {
    padding: 40px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    .action {
      font-size: 18px;
      color: #3D3D3D;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .icon-svg {
      margin-right: 10px;
    }
  }

  &.inxights {
    .sec-hero {
      background-color: #F9F5FF;
      padding: 120px 0 0;

      .content {
        .title {
          font-size: 64px;
          letter-spacing: 8px;
        }

        .sec-text {
          color: $color-text;
        }
      }

      .sec-cover {
        width: 100%;
        padding: 0 5%;
      }
    }

    .sec-info {
      padding: 80px 0;

      .info-img {
        max-width: 80%;
      }

      .block-info {
        padding: 40px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: #3D3D3D;
        }

        .sec-text {
          color: $color-text;
          padding-right: 200px;
        }

        .details {
          margin: 40px 0 80px;

          span {
            color: $color-text;
            font-weight: 300;
          }

          p {
            font-weight: 600;
            color: #3D3D3D;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #460A89;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  &.jwh {
    .sec-hero {
      background-color: #F3A303;
      padding: 120px 0;

      .sec-cover {
        width: 100%;
        padding: 0 5%;
      }

      .block-info {
        color: white;

        .details {
          margin-top: 40px;

          &:before {
            content: "";
            display: block;
            background-color: white;
            width: 2px;
            height: 50px;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }
    .sec-progress{
      padding: 80px 0;
      .content{
        .sec-title{
          color: #333333;
          font-size: 30px;
          font-weight: 600;
          &:after{
            content: none;
          }
        }
        .icon-svg{
          fill: #F3A303;
        }
        .img-responsive{         
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  &.gmf {
    .sec-header {
      .action {
        color: white;
      }

      .icon-svg {
        fill: white;
      }
    }

    .sec-hero {
      background-color: #F04032;
      padding: 120px 0;
      background-size: cover;

      .sec-cover {
        width: 100%;
        padding: 0 5%;
      }

      .gmd-back1 {
        max-width: 100px;
        position: absolute;
        bottom: -12%;
      }

      .block-info {
        color: white;

        .icon-svg {
          fill: #5415C2;
        }

        .details {
          margin-top: 40px;
          margin-left: 50px;

          &:before {
            content: "";
            display: block;
            background-color: yellow;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }

    .sec-info {
      padding: 80px 0;
      position: relative;

      .img-back3 {
        position: absolute;
        top: 0;
        right: 0;
      }

      .img-back4 {
        position: absolute;
        top: -80px;
        left: 20px;
      }

      .block-info {
        padding: 40px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: #3D3D3D;
        }

        .sec-text {
          color: $color-text;

        }

        .details {
          margin: 40px 0 80px;

          span {
            color: $color-text;
            font-weight: 300;
          }

          p {
            font-weight: 600;
            color: #3D3D3D;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #460A89;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }

      .img-detail {
        max-width: 100%;
      }
    }
  }

  &.fido {
    .sec-hero {
      background-color: #A389CF;
      padding: 80px 0;
      position: relative;

      .sec-back1 {
        position: absolute;
        bottom: 0;
      }

      .sec-cover {
        width: 100%;
        max-width: 500px;
        padding: 0 5%;
      }

      .block-info {
        color: white;

        .icon-svg {
          fill: #5415C2;
        }

        .details {
          margin-top: 40px;
          margin-left: 50px;

          &:before {
            content: "";
            display: block;
            background-color: white;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }

    .sec-info {
      position: relative;

      .img-back3 {
        position: absolute;
        top: 0;
        right: 0;
      }

      .img-back4 {
        position: absolute;
        top: -80px;
        left: 20px;
      }

      .block-info {

        padding: 80px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: #3D3D3D;
        }

        .sec-text {
          color: $color-text;

        }

        .details {
          margin: 40px 0 80px;

          span {
            color: $color-text;
            font-weight: 300;
          }

          p {
            font-weight: 600;
            color: #3D3D3D;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #460A89;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }

      .img-detail {
        max-width: 100%;
      }
    }
  }

  &.santarosa {
    .sec-hero {
      background-color: #ADCB57;
      padding: 120px 0;
      background-size: cover;
      height: 100vh;

      .sec-cover {
        max-width: 700px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }     

      .block-info {
        margin-top: 50px;

        .title {
          color: white;
          font-size: 50px;
        }

        .icon-svg {
          fill: #5415C2;
        }

        .details {
          margin-top: 40px;

          &:before {
            content: "";
            display: block;
            background-color: #009336;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }

    .sec-info {
      padding: 80px 0;
      position: relative;
      .sr-back1 {
        max-width: 85px;
        position: absolute;
        top: -75px;
        left: 20px;
      }
      .img-back2{
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .block-info {
        padding: 40px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: #3D3D3D;
        }

        .sec-text {
          color: $color-text;

        }

        .details {
          margin: 40px 0 80px;

          span {
            color: $color-text;
            font-weight: 300;
          }

          p {
            font-weight: 600;
            color: #3D3D3D;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #460A89;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  &.pupusas {
    .sec-header {
      .action {
        color: white;
      }

      .icon-svg {
        fill: white;
      }
    }

    .sec-hero {
      background-color: #FF6590;
      padding: 120px 0;

      .sec-cover {
        width: 100%;
        padding: 0 5%;
      }

      .sec-cover {
        width: 100%;

        padding: 0 5%;
      }

      .block-info {
        color: white;

        .icon-svg {
          fill: #E24052;
        }

        .sec-title {
          font-size: 22px;
        }

        .details {
          margin-top: 40px;
          margin-left: 50px;

          &:before {
            content: "";
            display: block;
            background-color: white;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }

      }

      .sec-back1 {
        position: absolute;
        bottom: 0;
      }

    }

    .sec-info {
      padding: 80px 0;
      position: relative;

      .img-back1 {
        position: absolute;
        top: 20px;
        left: 20px;
      }

      .img-content {
        width: 100%;
      }

      .block-info {
        .sec-title {
          font-size: 36px;
          color: #6d6d6d;
        }

        .details {
          margin: 40px 0 80px;

          span {
            color: $color-text;
            font-weight: 300;
          }

          p {
            font-weight: 600;
            color: #3D3D3D;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }
      }

    }
  }

  &.volant {   
    .sec-hero {
      background-color: #CBF3F5;
      padding: 120px 0;
      background-size: cover;
      position: relative;
      .sec-cover {
        width: 100%;        
        padding: 0 5%;
      }

      .volant-back1 {
        
        position: absolute;        
        bottom: 0;
        right: 0;
      }

      .volant-back2 {
        width: 100px;
        // max-width: 100px;
        position: absolute;
        bottom: 5%;
      }

      .block-info {
        color: $color-text;

        .sec-text {
          color: $color-text;
        }

        .icon-svg {
          fill: #5415C2;
        }

        .details {
          margin-top: 40px;        

          &:before {
            content: "";
            display: block;
            background-color: #51B1B4;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }

    .sec-info {
      padding: 80px 0;
      position: relative;
      .img-responsive{
        margin-top: -30%;
      }
      .sec-title{
        font-size: 32px;
        color: #333333;
        &:after{
          content: none;
        }
      }
      .icon-svg{
        fill: #51B1B4;
      }
      .block-info {
        color: $color-text;

        .title {
          font-size: 36px;
          font-weight: 600;

        }

        .sec-text {
          color: $color-text;
        }

        .details {
          margin: 40px 0 0px;

          p {
            font-weight: 600;
          }

          span {
            font-weight: 300;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #444444;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  &.evet {
    .sec-header{
      .action{
        color: white;
      }      
      .icon-svg{
        fill: white;
      }
    }
    .sec-hero {
      background-color: #144261;
      padding: 120px 0;
      background-size: cover;

      .sec-cover {
        width: 100%;
        padding: 0 5%;
      }

      .volant-back1 {
        max-width: 100px;
        position: absolute;
        bottom: -12%;
        bottom: 0;
      }

      .volant-back2 {
        width: 100px;
        // max-width: 100px;
        position: absolute;
        bottom: 5%;
      }

      .block-info {
        color: white;

        .sec-text {
          color: white;
        }

        .icon-svg {
          fill: #0073F9;
        }

        .details {
          margin-top: 40px;          

          &:before {
            content: "";
            display: block;
            background-color: white;
            width: 2px;
            height: 50px;
            margin: 25px 0;
          }

          .title {
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }

    .sec-info-1 {
      padding: 80px 0;
      position: relative;
      background-color: #0073F9;

      .img-back1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
      }

      .img-content {
        width: 100%;
      }
      .img-responsive{
        max-width: 250px;
      }
      .block-info {
        color: white;

        .title {
          font-size: 36px;
          font-weight: 600;
          color: white;
        }

        .details {
          margin: 40px 0 80px;

          p {
            font-weight: 600;
          }

          span {
            font-weight: 300;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }
      }

    }

    .sec-info-2 {
      padding: 80px 0;
      position: relative;

      .img-back1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
      }

      .img-content {
        width: 100%;
      }

      .block-info {
        color: $color-text;

        .title {
          font-size: 36px;
          font-weight: 600;

        }

        .sec-text {
          color: $color-text;
        }

        .details {
          margin: 40px 0 80px;

          p {
            font-weight: 600;
          }

          span {
            font-weight: 300;
          }

          .tools {
            display: flex;
            margin-top: 20px;

            .i-tool {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }

        .nav-link {
          color: #444444;
          font-weight: 700;
          position: relative;

          &:after {
            content: "";
            display: inline-block;
            width: 70px;
            height: 7px;
            background-color: $color-two;
            position: absolute;
            left: -20px;
            bottom: 0;
            z-index: -1;
          }
        }
      }

    }
  }
}


.project-footer {
  background-color: #F8F8F8;
  padding: 40px 20px;

  .action {
    display: inline-block;
    color: $color-text;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid #DFDFDF;
    margin-bottom: 20px;
  }

  .title {
    display: block;
    font-size: 44px;
    font-weight: 600;
    color: #383737;
    transition: .7s all ease;
    height: 45px;
    cursor: pointer;

    &:hover {
      font-size: 46px;
    }
  }
}