html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.main-container {
  margin-right: 50px;
}

.static-sidebar {
  background-color: white;
  height: 100vh;
  width: 50px;
  position: fixed;
  right: 0;

  .content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-title {
      font-size: 16px;
      writing-mode: vertical-rl;
      color: $color-two;
    }
  }

}

.sec-title {
  color: white;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 400;

  &:after {
    content: "";
    background-image: url('../images/title-line.svg');
    background-repeat: no-repeat;
    display: block;
    width: 188px;
    height: 8px;
    margin: 0 auto;
  }
}

.sec-text {
  color: white;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1.5;
}

.home-page {
  .sec-hero {
    background-color: $color-green;
    height: 100vh;
    width: 100%;
    padding: 20px 50px;
    position: relative;

    .section-content {
      display: flex;
      height: 100%;

      .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu-container {
          .menu-link {
            text-transform: uppercase;
            writing-mode: vertical-lr;
            text-orientation: upright;
            color: white;
            letter-spacing: 5px;
            position: relative;

            &:before {
              content: "";
              width: 1px;
              height: 30px;
              background-color: white;
              display: block;
              position: absolute;
              bottom: -35px;
              left: 50%;
              right: 50%;
            }
          }
        }

        .social-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          a {
            color: white;
            margin-bottom: 5px;

            .icon-svg {
              fill: white;
            }
          }

          &:after {
            content: "";
            width: 1px;
            height: 30px;
            background-color: white;
            display: block;
            position: absolute;
            top: -45px;
            left: 50%;
            right: 50%;
          }
        }
      }

      .logo-container {
        margin-bottom: 40px;
        text-align: right;

        .main-logo {
          max-width: 120px;
          height: 120px;
        }
      }

      .content {
        padding-left: 60px;
      }
    }

    .sec-title {
      font-size: 75px;

      &:after {
        content: none;
      }
    }

    span {
      font-size: 22px;
      color: white;
      padding-left: 10px;
      position: relative;

      &:after {
        content: "";
        background-image: url('../images/hero-line.svg');
        background-repeat: no-repeat;
        display: block;
        width: 190px;
        height: 8px;
        position: absolute;
        right: -166px;
        top: 42%;
      }
    }

    .illustration-hero {
      max-width: 700px;
      position: absolute;
      bottom: 0;
      right: 15%;
    }
  }

  .sec-about {
    padding: 120px 0;
    background-color: $color-two;
    position: relative;

    .content {
      .sec-text {
        margin-bottom: 25px;
      }

      .img-responsive {
        max-width: 150px;
      }

      .icon-svg {
        fill: $color-green;
      }

      .social-links {
        margin-top: 20px;
        display: inline-flex;

        .s-link {
          min-width: 100px;

          a {
            margin-right: 10px;
            color: white;

            border-bottom: 1px solid transparent;

            &:hover {
              font-weight: 600;
              border-color: white;
            }
          }
        }
      }
    }

    .a-back1 {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .a-back2 {
      position: absolute;
      width: 80px;
      bottom: 20px;
      right: 20px;
    }
  }

  .sec-projects {
    padding: 80px 0 40px;

    .content {
      .sec-title {
        color: #3D3D3D;
        font-size: 50px;
        margin-bottom: 60px;        
      }

      .icon-svg {
        fill: $color-two;
        margin-bottom: 40px;
      }

      .block-apps,
      .block-websites {
        height: 100%;

        .block-img {
          padding: 40px;          
        }

        .title {
          font-size: 22px;
          font-weight: 600;
          margin: 40px;
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 2px solid transparent;
          &:hover {
            border-color: #f2f2f2;
          }
        }
      }

      .block-apps,
      .block-websites {
        .block-img {
          background-color: #F7F7F7;
          transition: .5s all ease;
          &:hover {
            background-color: #FFDACF;
          }
          img {
            width: 100%;            
          }
        }

        .title {
          color: $color-two;
        }
      }

      .block-apps {        
        .title {
          color: #6D6D6D;
        }
      }


    }
  }

  .sec-areas {
    padding: 80px 0;
    background-color: $color-green;

    .content {
      .sec-title {
        margin-bottom: 40px;
      }

      .e-text {
        color: white;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 100px;

        span {
          font-weight: 600;
        }
      }

      .cover-areas {
        max-width: 100%;
        padding: 0 10%;

      }
    }
  }
}


.menu {
  z-index: 1000;
  position: absolute;
  background-color: $color-green;
  height: 100vh;
  width: 100%;
  top: -100%;

  .data {
    padding: 0 8em;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;

    ul {
      list-style: none;

      li {
        span{
          color: white;
          font-size: 22px;
          font-weight: 600;
        } 
        a {
          display: block;
          color: white;
          font-size: 26px;
          font-weight: 300;
          margin: 20px 0;
        }
      }
    }
  }
}