html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.hidden-sm {
  @media screen and (max-width: $break-sm) {
    display: none !important;
  }
}

.hidden-md {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.main-container {
  margin-right: 50px;

  @media screen and (max-width: $break-sm) {
    margin: 0;
  }
}

.slick-list {
  box-shadow: 25px 28px 40px -4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.slick-slide {
  div {

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.slick-dots {
  list-style: none;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin-top: 40px;

  li {
    &.slick-active {
      button {
        background-color: #6D6D6D;
      }
    }
  }

  button {
    width: 12px;
    padding: 0;
    height: 12px;
    border: none;
    background-color: #a9a9a9;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 0;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.static-sidebar {
  background-color: white;
  height: 100vh;
  width: 50px;
  position: fixed;
  right: 0;

  @media screen and (max-width: $break-sm) {
    display: none;
  }

  .content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .sidebar-title {
      font-size: 16px;
      writing-mode: vertical-rl;
      color: $color-two;
    }
  }

}

.sec-title {
  color: white;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 400;

  &:after {
    content: "";
    background-image: url('../images/title-line.svg');
    background-repeat: no-repeat;
    display: block;
    width: 188px;
    height: 8px;
    margin: 10px auto 0;

    @media screen and (max-width: $break-sm) {
      width: 120px;
    }
  }

  @media screen and (max-width: $break-sm) {
    font-size: 32px !important;
  }
}

.icon-waveline {
  @media screen and (max-width: $break-sm) {
    width: 120px;
  }

  .wave-1 {
    stroke: $color-green;
  }
}

.sec-text {
  color: white;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1.5;
}

.home-page {
  .sec-hero {
    background-color: $color-green;
    height: 100vh;
    width: 100%;
    padding: 20px 50px;
    position: relative;

    @media screen and (max-width: $break-sm) {
      height: auto;
      padding: 40px 0 0;
    }


    .section-content {
      display: flex;
      height: 100%;

      .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1000;

        .menu-container {
          cursor: pointer;

          .menu-link {
            text-transform: uppercase;
            writing-mode: vertical-lr;
            text-orientation: upright;
            color: white;
            letter-spacing: 5px;
            position: relative;
            transition: .4s all ease-in-out;


            &:before {
              content: "";
              width: 1px;
              height: 30px;
              background-color: white;
              display: block;
              position: absolute;
              bottom: -35px;
              left: 50%;
              right: 50%;
              transition: .4s all ease-in-out;
            }

            @media screen and (max-width: $break-sm) {
              display: none;
            }
          }

          .close-button {
            display: none;
            transition: .4s all ease-in-out;
            @media screen and (max-width: $break-sm) {
              display: none;
            }
            &:hover {
              .icon-svg {
                fill: $color-two;
              }
            }
          }

          &.close {
            .close-button {
              display: block;
              @media screen and (max-width: $break-sm) {
                display: none;
              }
            }

            .menu-link {
              &:before {
                display: none;
              }
            }
          }

          &:hover {
            .menu-link {
              color: $color-two;

              &:before {
                background-color: $color-two;
              }
            }

            .close-button {
              .icon-svg {
                .bc-l {
                  stroke: $color-two;
                }
              }
            }
          }
        }

        .social-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          @media screen and (max-width: $break-sm) {
            display: none;
          }

          a {
            color: white;
            margin-bottom: 10px;
            .icon-svg {
              fill: white;
              transition: .3s all ease-out;
              &.dribbble {
                stroke: white;
              }
            }
            &:hover{
              .icon-svg{
                fill: $color-two;
                &.dribbble{
                  stroke: $color-two;
                }
              }
            }
          }

          &:after {
            content: "";
            width: 1px;
            height: 30px;
            background-color: white;
            display: block;
            position: absolute;
            top: -45px;
            left: 50%;
            right: 50%;
          }
        }
      }

      .logo-container {
        margin-bottom: 40px;
        text-align: right;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @media screen and (max-width: $break-sm) {
          padding: 0 10px;
          justify-content: space-between;
          margin-bottom: 80px;
        }

        .menu-xs {
          height: 20px;
          margin-top: 15px;
          cursor: pointer;

          @media screen and (min-width: $break-sm) {
            display: none;
          }

          svg {
            .h-line {
              transition: .3s all ease;
            }

            &:hover {
              .h-line {
                stroke: $color-two;
              }
            }
          }
        }

        .main-logo {
          max-width: 150px;
          height: 150px;

          @media screen and (max-width: $break-sm) {
            max-width: 130px;
            height: 130px;
          }
        }
      }

      .content {
        padding-left: 60px;

        @media screen and (max-width: $break-sm) {
          padding: 0 5%;
        }
      }
    }

    .sec-title {
      font-size: 75px;

      &:after {
        content: none;
      }

      @media screen and (max-width: $break-md) {
        font-size: 60px;
      }
    }

    span {
      font-size: 22px;
      color: white;
      padding-left: 10px;
      position: relative;

      &:after {
        content: "";
        background-image: url('../images/hero-line.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: 150px;
        height: 8px;
      }

      @media screen and (max-width: $break-sm) {
        font-size: 16px;
      }
    }

    .illustration-hero {
      max-width: 700px;
      position: absolute;
      bottom: 0;
      right: 15%;

      @media screen and (max-width: 1220px) {
        width: 100%;
        right: 0;
        max-width: 600px;
      }

      @media screen and (max-width: $break-md) {
        margin-top: 50px;
        display: block;
        margin-top: 50px;
        max-width: 550px;
      }

      @media screen and (max-width: $break-sm) {
        position: relative;
      }
    }
  }

  .sec-about {
    padding: 120px 0;
    background-color: $color-two;
    position: relative;

    @media screen and (max-width: $break-sm) {
      padding: 60px 0;
    }

    .content {
      @media screen and (max-width: $break-sm) {
        padding: 0 20px;
      }

      .sec-text {
        margin-bottom: 25px;
      }

      .icon-svg {
        fill: $color-green;
        stroke: $color-green;
      }

      .social-links {
        margin-top: 20px;
        display: inline-flex;
        flex-wrap: wrap;

        @media screen and (max-width: $break-sm) {
          margin-bottom: 40px;
        }

        .s-link {
          min-width: 100px;

          @media screen and (max-width: $break-sm) {
            margin-bottom: 40px;
            width: calc(100% / 2);
            margin: 20px 0;
          }

          a {
            margin-right: 10px;
            color: white;
            border-bottom: 1px solid transparent;
            transition: .3s all ease;

            &:hover {
              font-weight: 600;
              border-color: white;
            }
          }
        }
      }
    }

    .a-back1 {
      position: absolute;
      bottom: 0;
      left: 0;

      @media screen and (max-width: $break-sm) {
        width: 100px;
      }
    }

    .a-back2 {
      position: absolute;
      width: 80px;
      bottom: 20px;
      right: 20px;

      @media screen and (max-width: $break-sm) {
        width: 60px;
      }
    }
  }

  .sec-projects {
    padding: 80px 0;

    .content {
      .sec-title {
        color: #3D3D3D;
        font-size: 50px;
        margin-bottom: 60px;
      }

      .icon-svg {
        fill: $color-two;
        margin-bottom: 40px;
      }

      .block-apps,
      .block-websites {
        height: 100%;

        .block-img {
          position: relative;

          &:hover {
            .overlay {
              opacity: 1;
            }
          }

          @media screen and (max-width: $break-sm) {
            padding: 40px 0;
          }

          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(247, 229, 223, 0.71);
            opacity: 0;
            transition: .5s all ease;

            .title {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 100%;
            }
          }
        }

        .title {
          font-size: 22px;
          font-weight: 600;
          margin: 40px;
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 2px solid transparent;

          &:hover {
            border-color: #f2f2f2;
          }
        }
      }

      .block-apps,
      .block-websites {
        .block-img {
          background-color: #F7F7F7;
          transition: .5s all ease;

          &:hover {
            background-color: #FFDACF;
          }

          img {
            width: 100%;
          }
        }

        .title {
          color: #333;
        }
      }


    }
  }

  .sec-areas {
    padding: 80px 0;
    background-color: $color-green;

    .content {
      .sec-title {
        margin-bottom: 40px;
      }

      .e-text {
        color: white;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 100px;

        span {
          font-weight: 600;
        }
      }

      .cover-areas {
        max-width: 100%;
        padding: 0 10%;

      }
    }
  }
}


.menu {
  z-index: 1000;
  position: absolute;
  background-color: $color-green;
  height: 100vh;
  width: 100%;
  top: -100%;

  .data {
    padding: 0 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: $break-sm) {
      padding: 60px 30px;
    }

    .close-button {
      margin-bottom: 20px;

      @media screen and (min-width: $break-sm) {
        display: none;
      }

      cursor: pointer;

      svg {
        .bc-l {
          transition: .3s all ease;
        }

        &:hover {
          .bc-l {
            stroke: $color-two;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 150px;

      @media screen and (max-width: $break-sm) {

        padding: 0 60px;
      }

      li {
        span {
          color: white;
          font-size: 22px;
          font-weight: 600;
        }

        a {
          display: block;
          color: white;
          font-size: 26px;
          font-weight: 300;
          margin: 20px 0;
        }

        span,
        a {
          @media screen and (max-width: $break-sm) {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.order-sm-1 {
  @media screen and (max-width: $break-sm) {
    order: 1;
  }
}

.or-md-1 {
  @media screen and (max-width: $break-md) {
    order: 1;
  }
}

.or-sm-1 {
  @media screen and (max-width: $break-sm) {
    order: 1;
  }
}